@page "/bookings/create"
@using Microsoft.EntityFrameworkCore
@using CarRentalManager.Domain
@inject IDbContextFactory<CarRentalManager.Data.CarRentalManagerContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Bookings</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Bookings" OnValidSubmit="AddBookings" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="dateout" class="form-label">DateOut:</label> 
                <InputDate id="dateout" @bind-Value="Bookings.DateOut" class="form-control" /> 
                <ValidationMessage For="() => Bookings.DateOut" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="datein" class="form-label">DateIn:</label> 
                <InputDate id="datein" @bind-Value="Bookings.DateIn" class="form-control" /> 
                <ValidationMessage For="() => Bookings.DateIn" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="vehicleid" class="form-label">VehicleId:</label> 
                <InputNumber id="vehicleid" @bind-Value="Bookings.VehicleId" class="form-control" /> 
                <ValidationMessage For="() => Bookings.VehicleId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="customerid" class="form-label">CustomerId:</label> 
                <InputNumber id="customerid" @bind-Value="Bookings.CustomerId" class="form-control" /> 
                <ValidationMessage For="() => Bookings.CustomerId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="datecreated" class="form-label">DateCreated:</label> 
                <InputDate id="datecreated" @bind-Value="Bookings.DateCreated" class="form-control" /> 
                <ValidationMessage For="() => Bookings.DateCreated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="dateupdated" class="form-label">DateUpdated:</label> 
                <InputDate id="dateupdated" @bind-Value="Bookings.DateUpdated" class="form-control" /> 
                <ValidationMessage For="() => Bookings.DateUpdated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="createdby" class="form-label">CreatedBy:</label> 
                <InputText id="createdby" @bind-Value="Bookings.CreatedBy" class="form-control" /> 
                <ValidationMessage For="() => Bookings.CreatedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="updatedby" class="form-label">UpdatedBy:</label> 
                <InputText id="updatedby" @bind-Value="Bookings.UpdatedBy" class="form-control" /> 
                <ValidationMessage For="() => Bookings.UpdatedBy" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/bookings">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Bookings Bookings { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddBookings()
    {
        using var context = DbFactory.CreateDbContext();
        context.Bookings.Add(Bookings);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/bookings");
    }
}
